<!-- move this into a helper -->
<script src="/js/login.js"></script>

<div class="login">
  <div>
    <label for="">Username</label>
    <input type="text" class="username" placeholder="">
  </div>

  <div>
    <label for="">Password</label>
    <input type="password" class="password" placeholder="">
  </div>

  <button class="login-user">Login</button>
</div>