<!-- move this into a helper -->
<script src="/js/register.js"></script>

<div class="register">
  <div>
    <label for="">Username</label>
    <input type="text" class="username" placeholder="knuckles_lover_84">
  </div>

  <div>
    <label for="">Password</label>
    <input type="password" class="password" placeholder="">
  </div>

  <button class="register-user">Register</button>
</div>